<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}
<!-- main body -->
<body>
<!-- nav.html -->
{% include "../main/nav.html" %}
    
<hr />
<h3>Member list</h3>

<hr />
<h3>Member list</h3>

{{tuple}}
<hr />

{{list}}
<hr />
<!-- 
{% for one in list %}
    {{one.0}}
{% endfor %} -->

    <hr />
    <form action='/board/service3' method='get'>
        <input type='submit' value='service3' /></form>
    <form action='/board/service4' method='get'>
        <input type='submit' value='service4' /></form>
</body>
</html>