<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리스트</title>
    
    <link  rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
</head>
<body>

    <div id="piechart"></div>
<div class='container'>
<h3> 연간 검색어 집계 </h3>
<hr />
    <div class="form-inline row justify-content-end" 
        style="margin-top:5px; margin-bottom: 5px;">
        <form action='/board/service3' method='get'>
            
            <select class ='form-control' name='gene'>
            {% for i in GN %}
                {% if i == request.GET.gene %}
                <option value='{{i}}' selected>{{i}}</option>
                {% else %}
                <option value='{{i}}'>{{i}}</option>
                {% endif %}
            {% endfor %}
            </select> &nbsp;
            
            시작범위
            <select class ='form-control' name='year'>
                {% if request.GET.year == '2019' %}
                <option value='2019'selected>2019</option>
                {% else %}
                <option value='2019'>2019</option>
                {% endif %}

                {% if request.GET.year == '2020' %}
                <option value='2020'selected>2020</option>
                {% else %}
                <option value='2020'>2020</option>
                {% endif %}
            </select> &nbsp;
            
            
            <select class ='form-control' name='month'>
            {% for i in MM %}
                {% if i == request.GET.month %}
                <option value='{{i}}' selected>{{i}}월</option>
                {% else %}
                <option value='{{i}}'>{{i}}월</option>
                {% endif %}
            {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='day'>
                {% for i in DD %}
                    {% if i|stringformat:"i" == request.GET.day %}
                    <option value='{{i}}' selected>{{i}}일</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}일</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='time'>
                {% for i in SS %}
                    {% if i|stringformat:"i" == request.GET.time %}
                    <option value='{{i}}' selected>{{i}}시</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}시</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='rank'>
                {% for i in RK %}
                    {% if i|stringformat:"i" == request.GET.rank %}
                    <option value='{{i}}' selected>{{i}}위</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}위</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;종료범위

            <select class ='form-control' name='year2'>
                {% if request.GET.year2 == '2020' %}
                <option value='2020'selected>2020</option>
                {% else %}
                <option value='2020'>2020</option>
                {% endif %}
                {% if request.GET.year2 == '2019' %}
                <option value='2019'selected>2019</option>
                {% else %}
                <option value='2019'>2019</option>
                {% endif %}
            </select> &nbsp;

            <select class ='form-control' name='month2'>
                {% for i in MM %}
                    {% if i == request.GET.month2 %}
                    <option value='{{i}}' selected>{{i}}월</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}월</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='day2'>
                {% for i in DD %}
                    {% if i|stringformat:"i" == request.GET.day2 %}
                    <option value='{{i}}' selected>{{i}}일</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}일</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='time2'>
                {% for i in SS %}
                    {% if i|stringformat:"i" == request.GET.time2 %}
                    <option value='{{i}}' selected>{{i}}시</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}시</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='rank2'>
                {% for i in RK %}
                    {% if i|stringformat:"i" == request.GET.rank2 %}
                    <option value='{{i}}' selected>{{i}}위</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}위</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <input type ='submit'class='btn btn-secondary' value='필터' />
        </form>
    </div>

    <table border='4' class = 'table'>
        <tr>
            <th>검색어</th>
            <th>검색횟수</th>
        </tr>
        
        {% for one in filtered %}
        <tr>
            <td><a href="#">{{one.0}}</a></td>
            <td>{{one.1}}</td>
        </tr>  
        {% endfor %}  
    </table>
    </form>
</div>

<script src="https://d3js.org/d3.v3.min.js">
</script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js">
</script> 
<script>
    var pieData = {        
        사과1: 500,
        호두: 200,
        블루베리: 666,
        치즈: 54,
        딸기: 120
      };
      var chartDonut = c3.generate({
        bindto: "#piechart",
        data: {
          json: [pieData],
          keys: {
            value: Object.keys(pieData),
          },
          type: "donut",
        },
        donut: {
          title: "상위 검색어 비율",
        },
      });
      
      var chartDonutColors = chartDonut.data.colors();
      $("#text-apple").css("color", chartDonutColors["사과"]);
      $("#text-walnut").css("color", chartDonutColors["호두"]);
      $("#text-berry").css("color", chartDonutColors["블루베리"]);
      $("#text-cheese").css("color", chartDonutColors["치즈"]);
      $("#text-strawberry").css("color", chartDonutColors["딸기"]);
</script>

</body>
</html>