<!--파일명 : template-->
{% include "./header.html" %}
<body>
    {% include "./menu.html" %}
    <h3>회원가입</h3>
    <hr />
    <form action="/member/join" method="post">
        아이디 : <input type="text" name="id"/><br />
        암호 : <input type="password" name="pw"/><br />
        암호1 : <input type="password"/><br />
        이름 : <input type="text" name="name"/><br />
        나이 : <input type="text" name="age"/><br />
        성별 : <input type="checkbox" name="gen" value="1"/>
        <label>남</label>
               <input type="checkbox" name="gen" value="0"/><br />
        <label>여</label>
    <input type="submit" value="회원가입" />
    </form>

</body>
</html>